extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Help

  p.
    This web application was made to be as easy to use as possible. Just take your time,
    plan your tasks and have fun.

  p.
    (: