doctype html
html
  head
    script(src='/javascripts/session.js')

    link(rel='stylesheet', href='/stylesheets/style.css')

    title= title

  body
    #cssmenu
      ul
        li
          a(href='/') Domorrow
        li
          a(href='/help') Help
        li
          a(href='mailto:domorrow@outlook.com') Contact
        li(id = 'signout')
          a(href='/signout') Sign out

    .content
      if (error)
        span #{error}

      script(type='text/javascript').
        window.sessionStorage['active'] = '#{active}';

        if (!window.sessionStorage['active']) {
          document.getElementById('signout').style.visibility = "hidden";
        } else {
          document.getElementById('signout').style.visibility = "visible";
        }

      block content